header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #070F2F;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
     margin: 10px;
}

nav a{
    height: 50px;
    margin-right: 10px;
}

.nav{
    justify-content: center;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #16204A; 
	font-size: 1em;
	line-height: 1.5em;
}

.conteiner



footer{
    height: 50px;
    background-color: red;
}