* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #16204A;
}

h1 {
    font-size: xxx-large;
    color: #EC9409;
}

h2 {
    font-size: xx-large;
    color: #EC9409;
}

h3 {
    font-size: x-large;
    color: #EC9409;
}

@media (max-width: 770px) {

    .nav input {
        display: none;
    }
   
    .contenedor-carga {
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        transition: all 1s ease;
        z-index: 10000;
        visibility: visible;
    }

    .contenedor-carga div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logocarga {
        width: 25vw;
    }

    .name_logo {
        margin-left: 10px;
        width: 50vw;
        height: 20vw;
    }

    .contenedor-carga-hidden {
        visibility: hidden;
    }

    .carga {
        border: 8px solid #16204A;
        border-top-color: #EC9409;
        height: 70px;
        width: 70px;
        margin-top: 40px;
        border-radius: 100%;
        animation: girar 1.5s linear infinite;
    }

    .porcentaje {
        position: absolute;
        height: 17px;
        width: 23px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

    .porcentaje p {
        color: #070F2F;
    }

    @keyframes girar {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes scaleup {
        0% {
            transform: scale(1.4)
        }

        50% {
            transform: skewX(-5deg);
        }

        100% {
            transform: skewX(5deg);
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(5deg);
        }

        50% {
            transform: rotate(-5deg);
        }

        100% {
            transform: rotate(5deg);
        }
    }


    header{
        display: flex;
        position: sticky;
        z-index: 5;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 10px 0px 10px 0px;
        height: 50px;
        top: 0px;
        background: #070F2F;
    }

    section h2 {
        margin-left: 20px;
    }

    .logo{
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 10px;
    }

    .logo img{
        height: 50px;
        width: 55px;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav input, .email_input {
        background-color: #616A93;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        border: none;
        height: 30px;
        width: 500px;
        border-radius: 10px;
        margin-right: 10px;
    }

    .nav img {
        margin-top: 1.8vw;
        height: 30px;
        width: 35px;
        cursor: pointer;
    }
    .menu-navbar {
        background-color: #070F2F;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 12px;
        text-align: center;
        padding: 8px;
        line-height: 1.5;
        transition: 0.2s;
        transform: translateX(-100vw);
        position: absolute;
        top: 60px;
        visibility: hidden;
        z-index: 2;
    }

    .menu-navbar ul:first-child img {
        width: 40px;
        height: 40px;
    }

    .menu-navbar-visible {
        left: 0%;
        width: 250px;
        height: 100vh;
        visibility: visible;
        z-index: 2;
        transform: translateX(0);
    }

    .menu-navbar-visible div {
        width: 80%;
        padding: 20px 0px 20px 0px;
        border-top: 2px solid #EC9409;
    }

    #nav_bar_logout, Socialmedia {
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu-navbar-visible ul li a {
        color: #EC9409;
        font-size: x-large;
        font-weight: bold;
    }


    .menu-navbar ul li:first-child {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .menu-navbar ul li {
        height: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        width: 100%;
    }

    .barra_menu{
        margin: 0px 20px 0px 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        
    }

    .barra_menu span{
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 50px;
        background: #616A93;
        margin-top: 10px;
        transition: all 300ms;
        transform-origin: 0px 100%; 
    }

    .barra_menu .line1__barra_menu {
        margin-top: 0px;
    }

    .activeline1__barra_menu{
        transform: rotate(45deg) translate(-1px, 1px);
    }

    .activeline2__barra_menu{
        opacity: 0;
        margin-left: -30px;
    }

    .activeline3__barra_menu{
        transform: rotate(-45deg) translate(2px,2px);
    }



    #slogan {
        position: relative;
        width: 100%;
        height: 27rem;
        background-image: url(../assets/img/Background_slogan.png);
        background-size: cover;
        padding: 0%;
        margin: 0%;

        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    #slogan h2 {
        color: #EC9409;
        text-transform: capitalize;
        line-height: normal;
        text-align: center;
        font-weight: bold;
        font-size: 10vw;

        width: 100vw;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0%;
    }

    #slogan img {
        display: none;
    }

    .perfil{
        display: flex;
        margin: 10px 20px 10px 10px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .perfil img {
        height: 30px;
        width: 35px;
    }

    .perfil button, .email_submit{
        height: 30px;
        width: fit-content;
        margin-right: 10px;
        padding: 5px;
        border-radius: 10px;
        border: none;
        background-color: #EC9409;
        cursor: pointer;

    }

    .perfil button a {
        font-size: larger;
        font-weight: bolder;
        text-transform: capitalize;
        color: #FFFFFF;
        text-decoration: none;
    }

    .carrousel-container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 98%;
        background-color:#3E4977;
        padding-top: 10px;
        overflow-x: scroll;
        margin-right: 1%;
        margin-left: 1%;
    }

    ::-webkit-scrollbar-thumb {
        background: #EC9409;
        border-radius: 6px;
    }

    ::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    .track {
        display: inline-flex;
        margin-right: 40px;
        height: 53%;
        transition: transform 0.2s ease-in-out;
        transform: translateX(25px);
    }

    .track .card .card-premium{
        margin-right: 40px;
        margin-left: -15px;
    }

    .card{
        width: 27%;
        margin: 10px;
        border-radius: 6px;
        overflow: hidden;
        background: #293462;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        cursor: default;
        transition: all 400ms ease;
    }

    .card:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
    }

    .card img{
        width: 100%;
        height: 130px;
    }

    .card-premium img{
        width: 100%;
        height: 130px;
    }

    .card-premium{
        width: 27%;
        margin: 10px;
        border-radius: 6px;
        overflow: hidden;
        background: #293462;
        box-shadow: 0px 1px 10px rgba(248, 100, 0, 0.493);
        cursor: default;
        transition: all 400ms ease;
        font-weight: bolder;
        text-transform:capitalize;
        color: #ffffffa6;
        text-decoration: none;
    }

    .card-premium:hover{
        box-shadow: 5px 5px 20px rgba(248, 100, 0, 0.493);
        transform: translateY(-3%);
    }

    .contenido{
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }

    .card .contenido{
        font-weight: bolder;
        text-transform:capitalize;
        color: #ffffffa6;
        text-decoration: none;
    }

    h3{
        color: #FFFFFF;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 128px;
    }

    .btnlougout{
        width: 100px;
        background-color: #D61C4E;
        color: white;
        font-weight: bold;
        font-size: large;
        cursor: pointer;
        border-radius: 10px;
        padding: 6px;
    }

    .btn{
        position: relative;
        display: block;
        height: 35px;
        width: 100px;
        border-radius: 4px;
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
        font-size: 17px;
        overflow: hidden;
        transition: all 500ms ease;
        border: 2px solid #D61C4E;
        z-index: 0;
        font-weight: 700;
        cursor: pointer;
    }

    .btnp{
        position: relative;
        display: block;
        height: 35px;
        width: 110px;
        border-radius: 4px;
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
        font-size: 17px;
        overflow: hidden;
        transition: all 500ms ease;
        border: 2px solid #B46F02;
        z-index: 0;
        font-weight: 700;
    }

    .btn::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-color: #880024;
        transition: all 500ms ease;
        z-index: -1;
    }

    .btnp::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-color: #B46F02;
        transition: all 500ms ease;
        z-index: -1;
    }

    .btn--2:hover {
        background-color: #EC9409;
        box-shadow: 0 0 10px #EC9409, 0 0 20px #EC9409, 0 0 20px #EC9409;
        color: #fff;
    }

    .btn--1::before {
        width: 0;
        height: 100%;
    }
    .btn--1:hover {
        color: #fff;
    }
    .btn--1:hover::before {
        width: 100%;
    }

    .nav .prev {
        left: 20px;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .nav a {
        position: absolute;
        transform: translatey(-100px);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        background: linear-gradient(180deg, #3E1F6E 0%, #3E1F6E 35%, #1B043D 100%);
    }

    a {
        font-size: 16px;
        font-weight: normal;
        color: #EEE6E6;
        text-decoration: none;
    }

    .nav .next {
        right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .games_menu {
        min-width: 100%;
        margin-bottom: 50px;
    }

    .games_menu h2 {
        margin-left: 20px;
        margin-top: 40px;
    }

    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
        bottom: 0;
        height: fit-content;
        background-color: #070F2F;
        color: #EC9409;
    }

    .footer_div {
        display: flex;
        align-content: center;
        flex-direction: column;
        padding-bottom: 20px;
        border: 3px dotted #EC9409;
        border-right: none;
        border-left: none;
        border-bottom: none;
    }

    .footer_div h3 {
        margin: 20px 0px 10px 0px;
        align-self:  center;
        font-weight: bold;
        font-size: 30px;
        width: 250px;
    }

    .one div img {
        margin-right: 7px;
    }
    .one div a, .up_text {
        font-size: 25px;
        color: #EC9409;
        text-decoration: none;
    }
    .one div a:hover {
        color: #B46F02;
    }

    .one div img {
        width: 30px;
        height: 30px;
    }

    .two {
        border: 3px dotted #EC9409;
        border-right: none;
        border-left: none;
        margin-bottom: 20px;
    }

    .two form {
        width: 80%;
        align-self: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .two p {
        width: 100%;
    }

    .email_input {
        width: 80%;
    }

    .email_submit {
        margin-top: 20px;
        width: 70px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }

    .up_button {
        height: 120px;
        width: 120px;
    }

    .three {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .three a p {
        color: #EC9409;
        font-size: xx-large;
        font-weight: bolder;
        text-transform: capitalize;
    }

    #new_content {
        width: 100%;
        height: 300px;
        min-height: fit-content;
        margin-bottom: 50px;
        position: relative;
        background-image: url("../assets/img/overwatch2/background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #new_content div {
        position: absolute;
        height: 500px;
        padding-left: 10px;

        display: flex;
        flex-direction: column;
    }
    #new_content div h1 {
        text-transform: capitalize;
        text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
        width: 95vw;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    #new_content div button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #EC9409;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: x-large;
    }

 
}

@media (min-width: 770px) {

    .contenedor-carga {
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        transition: all 1s ease;
        z-index: 10000;
        visibility: visible;
    }

    .contenedor-carga div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logocarga {
        width: 10em;
    }

    .name_logo {
        margin-left: 10px;
        width: 260px;
        height: 100px;
    }

    .contenedor-carga-hidden {
        visibility: hidden;
    }

    .carga {
        border: 8px solid #16204A;
        border-top-color: #EC9409;
        height: 70px;
        width: 70px;
        margin-top: 40px;
        border-radius: 100%;
        animation: girar 1.5s linear infinite;
    }

    .porcentaje {
        position: absolute;
        height: 17px;
        width: 23px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

    .porcentaje p {
        color: #070F2F;
    }

    @keyframes girar {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes scaleup {
        0% {
            transform: scale(1.4)
        }

        50% {
            transform: skewX(-5deg);
        }

        100% {
            transform: skewX(5deg);
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(5deg);
        }

        50% {
            transform: rotate(-5deg);
        }

        100% {
            transform: rotate(5deg);
        }
    }

    .nav input {
        display: block;
    }

    header {
        display: flex;
        position: sticky;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        z-index: 5;
        padding: 10px 0px 10px 0px;
        height: 50px;
        top: 0px;
        background: #070F2F;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 96%;
        height: 200px;
        padding: 0% 2% 0% 2%;
        background-color: #070F2F;
        color: #EC9409;
    }

    .footer_div {
        display: flex;
        padding: 0px 10px 0px 10px;
        flex-direction: column;
        border: 3px dotted #EC9409;
        border-top: none;
        border-left: none;
        border-bottom: none;
    }

    .footer_div h3 {
        margin: 20px 0px 10px 0px;
        font-weight: bold;
        font-size: 30px;
        width: 250px;
    }

    .one {
        width: 25%;
    }

    .one div {
        margin-top: 7px;
        height: 30px;
    }
    .one div img {
        margin-right: 7px;
    }
    .one div a, .up_text {
        font-size: 25px;
        color: #EC9409;
        text-decoration: none;
    }
    .one div a:hover {
        color: #B46F02;
    }

    .one div img {
        width: 30px;
        height: 30px;
    }

    .two {
        width: 30%;
    }
    .two form {
        width: 80%;
        margin-top: 15px;
    }

    .two p {
        width: 100%;
    }

    .email_input {
        width: 80%;
        background-color: #616A93;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        border: none;
        height: 30px;
        border-radius: 10px;
        margin-right: 10px;
    }

    .email_submit {
        margin-top: 20px;
        width: 70px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }

    .up_button {
        height: 120px;
        width: 120px;
    }

    .three {
        padding-left: 2%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .three a p {
        color: #EC9409;
        font-size: xx-large;
        font-weight: bolder;
        text-transform: capitalize;
    }

    section h2 {
        margin-left: 20px;
    }

    .logo{
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 10px;
    }

    .logo img{
        height: 50px;
        width: 55px;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav input {
        background-color: #616A93;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        border: none;
        height: 30px;
        width: 500px;
        border-radius: 10px;
        margin-right: 10px;
    }

    .nav img {
        height: 30px;
        width: 35px;
        cursor: pointer;
    }
    .menu-navbar {
        background-color: #070F2F;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 12px;
        text-align: center;
        padding: 8px;
        line-height: 1.5;
        transition: 0.2s;
        transform: translateX(-100vw);
        position: absolute;
        top: 60px;
        visibility: hidden;
        z-index: 2;
    }

    .menu-navbar ul:first-child img {
        width: 40px;
        height: 40px;
    }

    .menu-navbar-visible {
        left: 0%;
        width: 250px;
        height: 100vh;
        visibility: visible;
        z-index: 2;
        transform: translateX(0);
    }

    .menu-navbar-visible div {
        width: 80%;
        padding: 20px 0px 20px 0px;
        border-top: 2px solid #EC9409;
    }

    #nav_bar_logout, Socialmedia {
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu-navbar-visible ul li a {
        color: #EC9409;
        font-size: x-large;
        font-weight: bold;
    }


    .menu-navbar ul li:first-child {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .menu-navbar ul li {
        height: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        width: 100%;
    }

    .barra_menu{
        margin: 0px 20px 0px 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        
    }

    .barra_menu span{
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 50px;
        background: #616A93;
        margin-top: 10px;
        transition: all 300ms;
        transform-origin: 0px 100%; 
    }

    .barra_menu .line1__barra_menu {
        margin-top: 0px;
    }

    .activeline1__barra_menu{
        transform: rotate(45deg) translate(-1px, 1px);
    }

    .activeline2__barra_menu{
        opacity: 0;
        margin-left: -30px;
    }

    .activeline3__barra_menu{
        transform: rotate(-45deg) translate(2px,2px);
    }



    #slogan {
        position: relative;
        width: 100%;
        height: 27rem;
        background-image: url(../assets/img/Background_slogan.png);
        background-size: cover;
        padding: 0%;
        margin: 0%;

        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    #slogan h2 {
        color: #EC9409;
        text-transform: capitalize;
        line-height: normal;
        text-align: left;
        font-weight: bold;
        font-size: 65px;

        position: absolute;
        width: 50%;
        left: 3%;
        top: 20%;
    }

    #slogan img {
        position: absolute;
        width: 260px;
        margin-top: 40px;
        height: 260px;
        right: 10%;
        top: 15%;
    }

    .perfil{
        display: flex;
        margin: 10px 20px 10px 10px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .perfil img {
        height: 30px;
        width: 35px;
    }

    .perfil button, .email_submit{
        height: 30px;
        width: fit-content;
        margin-right: 10px;
        padding: 5px;
        border-radius: 10px;
        border: none;
        background-color: #EC9409;
        cursor: pointer;

    }

    .perfil button a {
        font-size: larger;
        font-weight: bolder;
        text-transform: capitalize;
        color: #FFFFFF;
        text-decoration: none;
    }

    .carrousel-container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 98%;
        background-color:#3E4977;
        padding-top: 10px;
        overflow-x: scroll;
        margin-right: 1%;
        margin-left: 1%;
    }

    ::-webkit-scrollbar-thumb {
        background: #EC9409;
        border-radius: 6px;
    }

    ::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    .track {
        display: inline-flex;
        margin-right: 40px;
        height: 53%;
        transition: transform 0.2s ease-in-out;
        transform: translateX(25px);
    }

    .track .card .card-premium{
        margin-right: 40px;
        margin-left: -15px;
    }

    .card{
        width: 27%;
        margin: 10px;
        border-radius: 6px;
        overflow: hidden;
        background: #293462;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        cursor: default;
        transition: all 400ms ease;
    }

    .card:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
    }

    .card img{
        width: 100%;
        height: 130px;
    }

    .card-premium img{
        width: 100%;
        height: 130px;
    }

    .card-premium{
        width: 27%;
        margin: 10px;
        border-radius: 6px;
        overflow: hidden;
        background: #293462;
        box-shadow: 0px 1px 10px rgba(248, 100, 0, 0.493);
        cursor: default;
        transition: all 400ms ease;
        font-weight: bolder;
        text-transform:capitalize;
        color: #ffffffa6;
        text-decoration: none;
    }

    .card-premium:hover{
        box-shadow: 5px 5px 20px rgba(248, 100, 0, 0.493);
        transform: translateY(-3%);
    }

    .contenido{
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }

    .card .contenido{
        font-weight: bolder;
        text-transform:capitalize;
        color: #ffffffa6;
        text-decoration: none;
    }

    h3{
        color: #FFFFFF;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 128px;
    }

    .btnlougout{
        width: 100px;
        background-color: #D61C4E;
        color: white;
        font-weight: bold;
        font-size: large;
        cursor: pointer;
        border-radius: 10px;
        padding: 6px;
    }

    .btn{
        position: relative;
        display: block;
        height: 35px;
        width: 100px;
        border-radius: 4px;
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
        font-size: 17px;
        overflow: hidden;
        transition: all 500ms ease;
        border: 2px solid #D61C4E;
        z-index: 0;
        font-weight: 700;
        cursor: pointer;
    }

    .btnp{
        position: relative;
        display: block;
        height: 35px;
        width: 110px;
        border-radius: 4px;
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
        font-size: 17px;
        overflow: hidden;
        transition: all 500ms ease;
        border: 2px solid #B46F02;
        z-index: 0;
        font-weight: 700;
    }

    .btn::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-color: #880024;
        transition: all 500ms ease;
        z-index: -1;
    }

    .btnp::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-color: #B46F02;
        transition: all 500ms ease;
        z-index: -1;
    }

    .btn--2:hover {
        background-color: #EC9409;
        box-shadow: 0 0 10px #EC9409, 0 0 20px #EC9409, 0 0 20px #EC9409;
        color: #fff;
    }

    .btn--1::before {
        width: 0;
        height: 100%;
    }
    .btn--1:hover {
        color: #fff;
    }
    .btn--1:hover::before {
        width: 100%;
    }

    .nav .prev {
        left: 20px;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .nav a {
        position: absolute;
        transform: translatey(-100px);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        background: linear-gradient(180deg, #3E1F6E 0%, #3E1F6E 35%, #1B043D 100%);
    }

    a {
        font-size: 16px;
        font-weight: normal;
        color: #EEE6E6;
        text-decoration: none;
    }

    .nav .next {
        right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .games_menu {
        min-width: 100%;
        margin-bottom: 50px;
    }

    .games_menu h2 {
        margin-left: 20px;
        margin-top: 40px;
    }

    #new_content {
        width: 100%;
        height: 550px;
        position: relative;
        background-image: url("../assets/img/overwatch2/usados/New_Content.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    #new_content div {
        position: absolute;
        height: 500px;
        top: 10px;
        left: 50px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #new_content div h1 {
        text-transform: capitalize;
        text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
        width: 50vw;
    }

    #new_content div button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #EC9409;
        box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: x-large;
    }


   /* PAGINA DE JUEGO */

   #bread_crum p {
    color: #B46F02;
    padding: 10px;
    margin-left: 20px;
    font-weight: bold;
    text-transform: capitalize;
    }

    #game_presentation {
        width: 96%;
        height: 100px;
        color: #EC9409;
        background-color: #3E4977;
        padding-left: 2%;
        padding-right: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        vertical-align: middle;
        justify-content: space-between;
    }

    #game_presentation div {
        display: flex;
        flex-direction: row;
    }

    #game_presentation div h1 {
        padding-top: 15px;
    }

    #game_preview {
        height: 90px;
        width: 130px;
        border-radius: 10px;
        margin-right: 20px;
    }

    #calification {
        height: 40px;
        width: 200px;
        margin-top: 5px;
        margin-right: 20px;
    }

    #share {
        height: 50px;
        width: 50px;
    }

    #game_section {
        display: flex;
        width: 98%;
        margin-top: 15px;
        margin-bottom: 20px;
        padding-left: 1%;
        padding-right: 1%;
        flex-direction: row;
        justify-content: space-between;
    }

    #game_section #game {
        display: flex;
        justify-content: center;
        width: 80%;
    }

    #game_section #game img {
        height: 450px;
        width: 700px;
    }

    #game_section #control_section {
        width: 20%;
        border-radius: 10px;
        padding-top: 15px;
        background-color: #3E4977;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    #arrows {
        height: 160px;
        width: 170px;
    }

    #enter {
        height: 120px;
        width: 120px;
    }

    #esc {
        height: 110px;
        width: 110px;
    }

    #images_videos {
        width: 96%;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2%;
        padding-right: 2%;
        background-color: #293462;
    }

    #images_videos div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #images_videos div img {
        height: 130px;
        width: 80%;
    }

    #description {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 30px;
    }

    #description p {
        color: #EC9409;
        font-weight: bold;
        margin-top: 10px;
    }

    #reviews {
        width: 96%;
        margin-bottom: 20px;
        padding-left: 2%;
        padding-right: 2%; 
    }

    #cards {
        display: flex;
        width: 100%;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #users_cards {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    #writter_card, .user_card {
        width: 90%;
        height: 190px;
        align-self: center;
        border-radius: 10px;
        margin-bottom: 40px;
        background-color: #3E4977;

        display: flex;
        flex-direction: row;
    }

    #user_section {
        width: 13%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    #user_section img {
        align-self: center;
        margin-bottom: 5px;
        height: 100px;
        width: 100px;
    }
    #user_section h3 {
        color: #EC9409;
    }

    #comment_section {
        width: 85%;
    }
    #comment_section div {
        margin-top: 20px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    #comment_section div h3 {
        color: #EC9409;
        width: fit-content;
    }
    #comment_section div img {
        width: 250px;
        height: 40px;
    }
    #comment_section input {
        width: 100%;
        height: 60%;
        background-color: #616A93;
        border-radius: 10px;
    }
    #comment_section p {
        margin-top: 10px;
        color: #EC9409;
        font-weight: bold;
    }

    .name_stars {
        border-bottom: #EC9409 solid;
    }


    /* PAGINA DE PROXIMO JUEGO */

    .CS-img{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 4px 0px;
    }

    .BG {
        height: 574px;
        width: 100%;
        top: 10%;
        position: relative;
        z-index: 0;
    }

    .janzo {
        position: absolute;
        z-index: 1;
        height: 355px;
        left: 750px;
        top: 235px;
    }

    .mercy {
        position: absolute;
        z-index: 1;
        height: 355px;
        left: 374px;
        top: 235px;
    }

    .winston {
        position: absolute;
        z-index: 1;
        height: 440px;
        left: 462px;
        top: 100px;
    }

    .CS-title {
        height: 170px;
        left: 31%;
        top: 55px;
        position: absolute;
    }

    .texto-juego-coming-soon{
        position: absolute;
        z-index: 2;
        top: 495px;
        right: 100px;
        width: 89%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto{
        text-shadow: 0 0 25px black;
    }
}

.info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 73%;
    background-color: #3E4977;
    padding-top: 10px;
    top: 106%;
}

.imagenes-juego{
    height: 390px;
    width: 99%;
}

.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
    width: 420%;
}

.descript{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin: 3%;
    height: 372px;
    text-shadow: 0 0 25px black;
}

.clasificacion{
    display: inline-flex;
    margin-right: 40px;
    float:right;
}

.item{
    margin: 1em;
    padding: 1em;
    height: 75px;
}


.carrousel-container.galeria .inner-carousel img{
    width: 530px;
    margin: 5px;
    border-radius: 15px;
}

.carrousel-container.galeria {
    width: 98%;
    top: 189%;
    right: 1%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    z-index: 0;
}
.inner-carousel {
    padding-top: 10px;
    width: 100%;
}

.carrousel.galeria{
    width: 98%;
    top: 260%;
    right: 1%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    overflow-x: scroll;
    z-index: 0;
}

.carrousel.galeria .inner-carousel img{
    width: 530px;
    margin: 5px;
    opacity: 59%;
    border-radius: 15px;
}

.content{
    background-color: #3E4977;
    margin: 5px;
    border-radius: 15px;
}

.parrafo{
    margin: 5px;
    font-size: x-large;
    color: #EC9409;
}

.personajes{
    width: 95%;
    height: 507px;
    top: 2338px;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    padding: 16px;
    margin-bottom: 18px;
}

.CS-PCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 135px;
}

.CS-PCard-img{
    width: 300px;
    height: 300px;
    background-color: #3E4977;
    border-radius: 50%;
}
.CS-PCard-ponints{
    display: flex;
    width: 131%;
    align-items: center;
    background-color: #3E4977;
    border-radius: 10px;
    margin: 5px;
}

.line-point {
    display: flex;
    align-items: center;
    margin: 3px 10px;
}

.line-point img{
    width: 120px;
}

.CS-PCard-img>img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}